body {
    padding-top: 70px;
    padding-bottom: 30px;
}

table {
    background-color: lightyellow;
    border-style: solid;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
}

td {
    border: solid 1px black;
    padding: 5px;
}

table tr:first-child td {
    font-size: x-large;
    padding: 15px;
}

h1 {
    font-weight: bolder;
    font-size: 60px;
    font-family:Verdana;
}