<head>
@{
    Layout = "_Layout";
}
</head>
<body>
    <form action="/todo/add" method="post" class="col-lg-3">
        <h2><strong>Type new Todo</strong></h2>
        <label for="Title"></label>
        <input type="text" name="Title" /><br>
        <br /><button type="submit" class="active btn-danger btn-lg">Submit</button><br />
        <br /><h><a class="btn btn-warning btn-lg" href="/todo">Cancel</a></h>
    </form>
</body>